
<div>
<%= link_to "TOPに戻る", top_path %>
</div>

<div>ご利用方法</div>

<div>カテゴリーを選択!</div>
<%# <img> %>

<div>直感で選んでいこう！</div>
<%# <img> %>

<div>あなたの求めるものに出会えるかも？</div>
<%# <img> %>

<div>やってみよう!</div>
<div>やってみる</div>