
<div>
<%= link_to "TOPに戻る", top_path %>
</div>

<h1 class="view_center">ご利用方法</h1>
<br>

<div class="view_center">カテゴリーを選択!</div>
<%# <img> %>
<br>

<div class="view_center">直感で選んでいこう！</div>
<%# <img> %>
<br>

<div class="view_center">あなたの求めるものに出会えるかも？</div>
<%# <img> %>
<br>

<div class="view_center">やってみよう!</div>
<br>
<div class="view_center"><%= link_to "やってみる", top_path %></div>