<div>
<%= link_to "戻る", top_path %>
</div>

<h1>あなたの求めるものはコレ</h1>

<div>
<%= attachment_image_tag @content, content_image, :fill, 170, 170, fallback: "default_content.jpg" , size:'300x300'  %>
</div>

