
<div>
<%= link_to "about", about_path %>
</div>

<% if admin_signed_in? %>
<div class="new_content_link_layout">
<%= link_to "新規コンテンツを追加", new_admin_content_path %>
</div>
<% end %>

<div>あなたの求めるものを探そう</div>

<div>カテゴリー一覧</div>

<%# <div>検索</div> %>

<% @contents.each do |content| %>
<%# カテゴリ2がNoContentだった場合非表示 %>
    <% if content.category2.category2_name == 'NoContent' %>
        <%= link_to content.content_name, content_path(content) %>
    <% end %>
<% end %>

<%# <%= link_to content.category1.category1_name, content_path(content.category1.category1_id)  %>