<br>

<div>
<%= link_to "ご利用方法", about_path %>
</div>

<h1 class="view_center">あなたの求めるものを探そう</h1>
<h2 class="view_center">カテゴリ一覧</h2>
<%# <div>検索</div> %>

<div class="view_center">
<% @contents.each do |content| %>
<%# カテゴリ2がNoContentだった場合非表示 %>
    <% if content.category2.category2_name == 'NoContent' %>
        <%= link_to content.content_name, content_path(content.category1) %>
    <% end %>
<% end %>
</div>
<%# <%= link_to content.category1.category1_name, content_path(content.category1.category1_id)  %>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<%# <% if admin_signed_in? %>
<%# <div class="new_content_link_layout"> %>
<div>
<%= link_to "新規コンテンツを追加する", new_admin_content_path %>
</div>
<%# <% end %>