
<div>
<%= link_to "about", about_path %>
</div>

<div>
<%= link_to "新規コンテンツを追加", new_admin_content_path %>
</div>

<div>あなたの求めるもの</div>

<div>カテゴリー一覧</div>

<%# <div>検索</div> %>

<% @contents.each do |content| %>

<%= link_to content.content_name, path(content.content_id)  %>

<% end %>