
<h1>新規コンテンツ追加フォーム</h1>
<hr>
<br>
<br>
<div>

<%= form_for([:admin, @content]) do |f| %>

<div>コンテンツ名</div>
<%= f.text_field :content_name %>

<div>コンテンツ説明</div>
<%= f.text_field :content_text %>

<div>コンテンツ画像</div>
<%= f.attachment_field :content_image %>

<div>メインカテゴリ</div>
<% f.collection_select :main_category_id, MainCategory.all, :id, :main_category_name, onchange="main_category()" %>



<% end %>

</div>