
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>wdyw</title>
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,500,900&amp;subset=japanese" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<body>



<div>
<%= link_to "戻る", top_path %>
</div>

<h1 class="view_center">あなたの求めるものは？</h1>

<div class="view_center">what do you want?</div>

<div  class="view_center">気分で選ぼう！</div>

<div  class="category_title">
<p>select:<%= @content.content_name %></p>
</div>

<%# カテゴリ1の情報を持って入ってきてそれに紐付いたカテゴリ2を一覧表示 %>
<%# カテゴリ2がNoContentなら表示しない %>
<%# カテゴリ3がNoContentの場合表示する %>

<div class="flexcontainer">
    <% @contents.each do |content| %>
        <% if content.category5_id == @content.id %>
            <% if content.category6.category6_name == 'NoContent' %>
            <% else %>
                <div class="flexitem">
                    <div class="content2">
                        <%= attachment_image_tag content, :image, :fill, 170, 170, fallback: "default_content.jpg" , size:'170x170' %>
                        <p><%= content.content_name %></p>
                    </div>
                </div>
            <% end %>
        <% else %>
        <% end %>
    <% end %>
</div>

</body>
</html>