/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*
 *= require font-awesome
 */

.new_content_link_layout{
    text-align:right;
}

.text1{
    display: inline-block;
    font-weight: bold;
    // color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 1px black;/*線*/
    border-radius: 1px;/*角の丸み*/
}
.text1 p{
    margin: 0; 
    padding: 0;
}

.text2{
    display: inline-block;
    font-weight: bold;
    // color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 1px black;/*線*/
    border-radius: 1px;/*角の丸み*/
}
.text2 p{
    margin: 0; 
    padding: 0;
}

.text3{
    display: inline-block;
    font-weight: bold;
    // color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 1px black;/*線*/
    border-radius: 30px;/*角の丸み*/
}
.text3 p{
    margin: 10; 
    padding: 10;
}


//-------------------メインカテゴリモーダル用-------------------

.main_category_button{
    display: inline-block;
    cursor: pointer;
    border: 2px solid white;
    padding: 5px;
    opacity: .9;
    transition: .3s;
}

.main_category_modal_wrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 1;
    display: none;
}

.main_category_modal{
    position: absolute;
    background-color: #fff;
    width: 450px;
    height: 350px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 100px auto 0;
    border: 1px solid #eee;
    display: none;
    text-align: right;
}

.main_category_modal_content{
    display: none;
    text-align: center;
}

.create_main_category_button{
    margin-right: 30px;
}


//-------------------カテゴリ1モーダル用-------------------

.category1_button{
    display: inline-block;
    cursor: pointer;
    border: 2px solid black;
    padding: 5px;
    opacity: .9;
    transition: .3s;
}

.category1_modal_wrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 1;
    display: none;
}

.category1_modal{
    position: absolute;
    background-color: #fff;
    width: 450px;
    height: 350px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 100px auto 0;
    border: 1px solid #eee;
    display: none;
    text-align: right;
}

.category1_modal_content{
    display: none;
    text-align: center;
}

.create_category1_button{
    margin-right: 30px;
}

//-------------------カテゴリ2モーダル用-------------------

.category2_button{
    display: inline-block;
    cursor: pointer;
    border: 2px solid black;
    padding: 5px;
    opacity: .9;
    transition: .3s;
}

.category2_modal_wrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 1;
    display: none;
}

.category2_modal{
    position: absolute;
    background-color: #fff;
    width: 450px;
    height: 350px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 100px auto 0;
    border: 1px solid #eee;
    display: none;
    text-align: right;
}

.category2_modal_content{
    display: none;
    text-align: center;
}

.create_category2_button{
    margin-right: 30px;
}

//-------------------カテゴリ3モーダル用-------------------

.category3_button{
    display: inline-block;
    cursor: pointer;
    border: 2px solid black;
    padding: 5px;
    opacity: .9;
    transition: .3s;
}

.category3_modal_wrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 1;
    display: none;
}

.category3_modal{
    position: absolute;
    background-color: #fff;
    width: 450px;
    height: 350px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 100px auto 0;
    border: 1px solid #eee;
    display: none;
    text-align: right;
}

.category3_modal_content{
    display: none;
    text-align: center;
}

.create_category3_button{
    margin-right: 30px;
}

//-------------------カテゴリ4モーダル用-------------------

.category4_button{
    display: inline-block;
    cursor: pointer;
    border: 2px solid black;
    padding: 5px;
    opacity: .9;
    transition: .3s;
}

.category4_modal_wrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 1;
    display: none;
}

.category4_modal{
    position: absolute;
    background-color: #fff;
    width: 450px;
    height: 350px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 100px auto 0;
    border: 1px solid #eee;
    display: none;
    text-align: right;
}

.category4_modal_content{
    display: none;
    text-align: center;
}

.create_category4_button{
    margin-right: 30px;
}

//-------------------カテゴリ5モーダル用-------------------

.category5_button{
    display: inline-block;
    cursor: pointer;
    border: 2px solid black;
    padding: 5px;
    opacity: .9;
    transition: .3s;
}

.category5_modal_wrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 1;
    display: none;
}

.category5_modal{
    position: absolute;
    background-color: #fff;
    width: 450px;
    height: 350px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 100px auto 0;
    border: 1px solid #eee;
    display: none;
    text-align: right;
}

.category5_modal_content{
    display: none;
    text-align: center;
}

.create_category5_button{
    margin-right: 30px;
}

//-------------------カテゴリ6モーダル用-------------------

.category6_button{
    display: inline-block;
    cursor: pointer;
    border: 2px solid black;
    padding: 5px;
    opacity: .9;
    transition: .3s;
}

.category6_modal_wrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 1;
    display: none;
}

.category6_modal{
    position: absolute;
    background-color: #fff;
    width: 450px;
    height: 350px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 100px auto 0;
    border: 1px solid #eee;
    display: none;
    text-align: right;
}

.category6_modal_content{
    display: none;
    text-align: center;
}

.create_category6_button{
    margin-right: 30px;
}

//-------------------すべてのモーダル用-------------------

.select_box{
    display: inline-block;
    font-weight: bold;
    // color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 1px gray;/*線*/
    border-radius: 1px;/*角の丸み*/
}

.button:hover{
    opacity: 1;
}

.fa_wrapper{
    cursor: pointer;
    padding: 10px;
}

.text-right{
    text-align:right;
}

.field_color{
    display: inline-block;
    background: ghostwhite;
    border: solid 1px gray;
}

//--------------------------------------------

.flash_color{
    color: red;
}

//-------------------show-------------------------

// 初期非表示

.category3_view{
    display:none;
}

.category4_view{
    display:none;
}

.category5_view{
    display:none;
}

.category6_view{
    display:none;
}